<% incomes = current_user.list_income %>
<% transactions = current_user.transactions_this_month %>
<% if (incomes.is_a? String) && (transactions.is_a? String) %>
  <% your_money = 0 %>
<% elsif incomes.is_a? String %>
  <% your_money = -transactions[:spent_this_month] %>
<% elsif transactions.is_a? String %>
  <% your_money = incomes[:total] %>
<% else %>
  <% your_money = incomes[:total] - transactions[:spent_this_month] %>
<% end %>
 
<h2>
    <% if your_money >= 0 %>
        <div class = "in-line"> Your Money: </div><div class = "text-success"><%= number_to_currency(your_money) %></div>
      <% else %> 
        <div class = "in-line"> Your Money: </div><div class = "text-danger"><%= number_to_currency(your_money) %></div>
    <% end %>
</h2>
<% if incomes.is_a? String %>
  <div class = "text-danger"><%= incomes %></div>
<% else %> 
<h2> Your Income this month: <%= number_to_currency(incomes[:total]) %></h2> 
  <ul class = "list-group list-goup-flush">
    <% incomes[:income_details].each do |income| %> 
     <li class = "list-group-item">
      <%= "#{income.name.capitalize}, #{number_to_currency(income.amount)}, #{income.date.to_datetime.to_formatted_s(:short)}"%>
     </li>
    <% end %>
<% end %>

<% if transactions.is_a? String %>
  <%= transactions %>
<% else %>
  <h2>Your Spending this month: <%= number_to_currency(transactions[:spent_this_month]) %></h2>
  <ul class = "list-group list-group-flush">
    <% transactions[:transactions].each do |transaction| %>   
      <% if transaction["is_expense"] == true %>
        <li class = "list-group-item">
          <%= "#{transaction["description"]}, #{number_to_currency(transaction["amount"])}, 
              #{transaction["transacted_at"].to_datetime.to_formatted_s(:short)}" %>
        </li>
      <%end%>
    <%end%>
  </ul>
<% end %>
    