<h1> User Id: <%= current_user.user_id%>, GUID: <%= current_user.guid %> </h1>


<h2>memberships</h2>
<p>
  <%= current_user.list_members%> 
</p>
<h2>accounts</h2>
  <%= current_user.account_details("available_balance", "type", "institution_code") %> 
<h2>income</h2>
  <% response = current_user.transaction_details(1, 100, "amount", "category", "transacted_at", ) %> 
  <ul>
    <% response.each do |transaction| %>
        <li><% transaction.each_pair do |key, value|%>
          <%= "#{key.upcase}: #{value}, " %>
          <%end%>
        </li>
  <%end%>
  </ul>
